<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Course</h1>
<form method="post">
    {% csrf_token %}
    <label for="c_id">course id:</label>
    <input type="number" name="c_id"><br>
    <label for="c_name">course Name:</label>
    <input type="text" name="T_name"><br>
    <label for="T_id">teacher id:</label>
    <input type="number" name="T_id"><br>
    
    <input type="submit" value="Submit">
</form>
    
</body>
</html>